@model MarketPlace.Models.Productos

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label"></label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCaducacion" class="control-label"></label>
                <input asp-for="FechaCaducacion" class="form-control" />
                <span asp-validation-for="FechaCaducacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URlimg" class="control-label"></label>
                <input type="file" class="form-control" />
                <span asp-validation-for="URlimg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
